<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>K-Pac</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .pagination{
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
</head>

<body>
<div class="container col-8">
    <h2>All K-Pac</h2>
    <table class="table">
        <thead class="thead-dark">

        <div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
        <tr>
            <th>
                <a th:href="@{'/kpacs/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}"> ID</a>
            </th>
            <th><a th:href="@{'/kpacs/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">Title</a></th>
            <th><a th:href="@{'/kpacs/page/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">Description</a></th>
            <th><a th:href="@{'/kpacs/page/' + ${currentPage} + '?sortField=createdAt&sortDir=' + ${reverseSortDir}}">Time</a></th>
            <th>Info</th>
        </tr>
        </thead>

        <tr th:each="tempKpac : ${kpacs}">
            <td th:text="${tempKpac.id}"></td>
            <td th:text="${tempKpac.title}"></td>
            <td th:text="${tempKpac.description}"></td>
            <td th:text="${tempKpac.newDate}"></td>
            <td>
                <a th:href="@{/kpacs/delete(id=${tempKpac.id})}"
                   onclick="if(!(confirm('are you sure you want delete sets?')))return false">delete</a>
            </td>

            </td>
        </tr>
    </table>

    <div class="pagination">
        <a th:if="${currentPage > 1}" th:href="@{'/kpacs/page/1'+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        <a th:if="${currentPage > 1}" th:href="@{'/kpacs/page/' + ${currentPage - 1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a th:if="${currentPage != i}" th:href="@{'/kpacs/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span>
    &nbsp;
</span>

        <a th:if="${currentPage < totalPages}" th:href="@{'/kpacs/page/' + ${currentPage + 1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        <a th:if="${currentPage < totalPages}" th:href="@{'/kpacs/page/' + ${totalPages}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
    </div>

    <br>
    <h2>Add new K-PAC</h2>
    <form th:action="@{/kpacs/save}" method="POST"
          th:object="${kpac}">


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" th:field="*{title}"  class="form-control" id="exampleFormControlInput1" placeholder="title">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <input type="text" th:field="*{description}" placeholder="description" class="form-control" id="exampleFormControlTextarea1">
        </div>


        <button type="submit" class="btn btn-primary mb-3">Save</button>

    </form>

    <div>
        <a th:href="@{/sets}">Go to Sets page</a>
    </div>

</div>
</body>
</html>