<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Set page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        tr{
            cursor: pointer;
        }
    </style>
</head>

<body>
<div class="container col-8">
    <h2>All Sets K-Pac</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Info</th>
        </tr>
        </thead>


            <tr th:each="set : ${sets}">


                    <td th:text="${set.id}" th:onclick="'javascript:rowClicked(\'' + ${set.id} + '\');'"></td>
                    <td th:text="${set.title}" th:onclick="'javascript:rowClicked(\'' + ${set.id} + '\');'"></td>

                    <td>
                        <a th:href="@{/sets/delete(id=${set.id})}"
                           onclick="if(!(confirm('are you sure you want delete set?')))return false">delete</a>
                    </td>


            </tr>
    </table>


    <h2>Add new Set K-PAC</h2>
    <form th:action="@{/sets/save}" method="POST"
          th:object="${set}">


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" th:field="*{title}"  class="form-control" id="exampleFormControlInput1" placeholder="title">
        </div>

        <h3>All available K-Pac you can add to the Set K-Pac </h3>

        <div th:if="${kpacs!=null and !kpacs.isEmpty()}" th:each="kpac : ${kpacs}">
            <input type="checkbox" th:name="isChecked" th:value="${kpac.id}">
            <label th:text="${kpac}"/></label>
        </div>
        <div th:unless="${!kpacs.isEmpty()}">
            <h4>there is not one k-pac </h4>

        </div>
        <a th:href="@{/kpacs}">Add K-Pac</a>
        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </form>

</div>
<script>
    function rowClicked(value) {
        window.open('http://localhost:8080' + '/set?id=' + value);
    }
</script>
</body>
</html>