<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Set page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        tr{
            cursor: pointer;
        }
         .pagination{
             margin-left: auto;
             margin-right: auto;
             display: block;
         }

    </style>
</head>

<body>
<div class="container col-8">
    <h2>All Sets K-Pac</h2>
    <table class="table">
        <thead class="thead-dark">
        <div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
        <tr>
            <th><a th:href="@{'/sets/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Id</a></th>
            <th><a th:href="@{'/sets/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">Title</a></th>
            <th>Info</th>
        </tr>
        </thead>


            <tr th:each="set : ${sets}">


                    <td th:text="${set.id}" th:onclick="'javascript:rowClicked(\'' + ${set.id} + '\');'"></td>
                    <td th:text="${set.title}" th:onclick="'javascript:rowClicked(\'' + ${set.id} + '\');'"></td>

                    <td>
                        <a th:href="@{/sets/delete(id=${set.id})}"
                           onclick="if(!(confirm('are you sure you want delete set?')))return false">delete</a>
                    </td>


            </tr>
    </table>
    <div class="pagination">
        <a th:if="${currentPage > 1}" th:href="@{'/sets/page/1'+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        <a th:if="${currentPage > 1}" th:href="@{'/sets/page/' + ${currentPage - 1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a th:if="${currentPage != i}" th:href="@{'/sets/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span>
    &nbsp;
</span>

        <a th:if="${currentPage < totalPages}" th:href="@{'/sets/page/' + ${currentPage + 1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        <a th:if="${currentPage < totalPages}" th:href="@{'/sets/page/' + ${totalPages}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
    </div>



    <h2>Add new Set K-PAC</h2>
    <form th:action="@{/sets/save}" method="POST"
          th:object="${set}">


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" th:field="*{title}"  class="form-control" id="exampleFormControlInput1" placeholder="title">
        </div>

        <h3>All available K-Pac you can add to the Set K-Pac </h3>

        <div th:if="${kpacs!=null and !kpacs.isEmpty()}" th:each="kpac : ${kpacs}">
            <input type="checkbox" th:name="isChecked" th:value="${kpac.id}">
            <label th:text="${kpac}"/></label>
        </div>
        <div th:unless="${!kpacs.isEmpty()}">
            <h4>there is not one k-pac </h4>

        </div>
        <a th:href="@{/kpacs}">Add K-Pac</a>
        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </form>
</div>

<script>
    function rowClicked(value) {
        window.open('http://localhost:8080' + '/set?id=' + value);
    }
</script>
</body>
</html>